<div class="container mt-5 text-center">

  <!-- Link to return to the homepage -->
  <div class="mb-4">
    <a href="/" class="btn btn-secondary">
      <i class="bi bi-house-door"></i> Retour à la page d'accueil
    </a>
  </div>

  <h1 class="mb-4">Histogramme des Niveaux de Couleurs</h1>

  <!-- Sélecteur du nombre de bins et bouton pour recharger une image -->
  <div class="d-flex justify-content-center align-items-center mb-4">
    <div class="mx-3">
      <label for="numBins" class="form-label">Changer le nombre d'intervalles de couleurs</label>
      <input id="numBins" type="number" [(ngModel)]="numBins" min="2" max="256" class="form-control w-100" (change)="updateBins(); loadHistogram()"/>
    </div>

    <div class="mx-3">
      <button class="btn btn-primary mt-4" (click)="loadNewImage()">
        Recharger une nouvelle image
      </button>
    </div>
  </div>

  <!-- Affichage de l'image -->
  <div class="mb-4 text-center">
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Image aléatoire" class="img-fluid rounded shadow img-perso" style="max-width: 100%; height: auto;"/>
  </div>

  <!-- Affichage du diagramme en bâtons pour les niveaux de couleurs -->
  <div class="chart-container">
    <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            chartType="bar">
    </canvas>
  </div>

  <!-- Affichage des intervalles de niveaux de couleurs (RVB) -->
  <div>
    <div class="my-5 w-100 text-center container-values">
      <h3>Intervalles de niveaux de couleurs (Rouge) :</h3>
      <ul class="list-group w-50 mx-auto">
        <li class="list-group-item" *ngFor="let bin of binRangesRed">
          {{ bin.label }} : de {{ bin.start }} à {{ bin.end }} (valeurs de rouge)
        </li>
      </ul>

      <h3>Intervalles de niveaux de couleurs (Vert) :</h3>
      <ul class="list-group w-50 mx-auto">
        <li class="list-group-item" *ngFor="let bin of binRangesGreen">
          {{ bin.label }} : de {{ bin.start }} à {{ bin.end }} (valeurs de vert)
        </li>
      </ul>

      <h3>Intervalles de niveaux de couleurs (Bleu) :</h3>
      <ul class="list-group w-50 mx-auto">
        <li class="list-group-item" *ngFor="let bin of binRangesBlue">
          {{ bin.label }} : de {{ bin.start }} à {{ bin.end }} (valeurs de bleu)
        </li>
      </ul>
    </div>
  </div>
</div>
